.navbar-desktop {
    font-family: var(--f-secondary);
    color: var(--c-m-white);
    font-size: 12rem;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;    
}

.navbar-desktop-link {
    color: var(--c-s-white)
}