.experience-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: var(--b-primary);
    box-shadow: 0 2rem 5rem var(--c-s-white);
    padding: 8rem 2rem;
    width: 320rem;
    height: 260rem;
}

.experience-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 28rem;
    gap: 0 10rem;
    width: 100%;
    height: 30%;
}