.section-home-about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.work-image-container {
    margin-top: 32rem;
    width: 280rem;
    height: 280rem;
}

.about-me-button-container{
    margin-top: 48rem;
}

