.section-home-about-me-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    min-height: 100vh;
}

.work-image-container {
    margin-top: 32rem;
    width: 280rem;
    height: 280rem;
}

.about-me-button-container{
    margin-top: 48rem;
}

@media (min-width:851px) {
    .section-home-about-me-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-template-areas: "image button" "description description";
    }

    .work-image-container {
        grid-area: image;
        margin-top: 32rem;
        width: 280rem;
        height: 280rem;
    }
}

