.section-home-about-me-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 40%;
    justify-items: center;
    align-items: start;
    min-height: 100vh;
}

.work-image-container {
    width: 280rem;
    height: 280rem;
}

.text-container p {
    margin-bottom: 30rem;
}

@media (min-width:851px) {
    .section-home-about-me-container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 70%;
        place-content: center;
        padding-bottom: 100rem;
    }

    .work-image-container {
        grid-column: 2 / 3;
    }

    .text-container {
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        justify-items: start;
        align-content: space-around;
        text-align: start;
        height: 50vh;
    }
    
    .about-me-button-container{
        justify-self: center; 
    }
}

