:root {
	--c-gold: #af7927;
	--c-black: #1a1a1a;
	--c-black-two: #222;
	--c-gray: #9ea3ae;
	--c-xxl-white: #ffffff;
	--c-xl-white: #f9fafb;
	--c-l-white: #f4f4f6;
	--c-m-white: #e5e6eb;
	--c-s-white: #d3d5da;
	--c-xxl-black: #000000;
	--c-xl-black: #161d21;
	--c-l-black: #212936;
	--c-m-black: #394150;
	--c-s-black: #4d5461;
	--c-transparent-gold: rgba(175, 121, 39, 0.6);
	--c-transparent-black: rgba(0, 0, 0, 0.4);
	--c-transparent-white: rgba(255, 255, 255, 0.85);
}
