:root {
    /* Bordes */
    --border-one: 12rem;
    --border-two: 8rem;
    --border-three: 4rem;

    /* Gaps */
    --gap-cards: 12rem;

    /* Widths */
    --width-cads: 260rem;

    /* Heights */
    --height-cards: 280rem;

    /* Shadows */
    --shadow-one: 0 5rem 10rem var(--c-s-black);
    --shadow-two: 0px 8px 24px rgba(0, 0, 0, 0.5);
}