.secundary-paragraph {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 12rem;
    font-size: 16rem;
    font-family: var(--f-secundary);
    color: var(--c-s-white);
}

.secundary-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: var(--c-s-white);
    padding: 4rem 8rem;
}

.secundary-button:active {
    padding: 2rem 4rem;
    margin: 2rem 4rem;
}

.navbar-projects-button {
    font-size: 12rem;
    padding: 12rem 20rem;
}

.navbar-projects-button:active {
    padding: 8rem 16rem;
    margin: 4rem 4rem;
}