header {
    position: fixed;
    top: 0;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320rem;
    max-width: 1200rem;
    margin: 0 auto;
    height: 60rem;
    padding: 8rem 16rem 10rem 32rem;
    background-color: black;
    border-radius: 0 0 14rem 14rem;
}

.header-logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.header-logo-container img {
    height: 100%;
    object-fit: cover;
}