.home-stack-items-container,
.home-project-cards-container,
.home-experience-cards-container {
    display: flex;
    align-items: center;
    gap: 12rem;
    width: 80%;
    padding: 8rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    transition: 2s;
}

.home-stack-items-container {
    max-width: 852rem;
}

.home-project-cards-container,
.home-experience-cards-container {
    max-width: 820rem;
}

.home-stack-items-container::-webkit-scrollbar,
.home-project-cards-container::-webkit-scrollbar,
.home-experience-cards-container::-webkit-scrollbar  {
    display: none;
}