.home-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-optical-sizing: auto;
    font-weight: 1px;
    font-style: normal;
    color: #FFFFFF;
}

.text-container {
    width: 50%;
}

.text-container h1 {
    font-size: 48rem;
}

.text-container h2 {
    color:#AF7927;
}

.text-container p {
    color:#AF7927;
}

.buttons-container {
    display: flex;
    align-items: start;
    margin-top: 36px;
    gap: 20px
}

.buttons-container > button {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 36px ;
    border-style: solid;
    border-radius: 24px;
    border-width: 2px;
    border-color: #AF7927;
}

.figure-photo {
    width: 500px;
    height: 500px;
}

.figure-photo > img {
    width: 100%;
    border-radius: 50%;
}