.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20rem;
    margin-top: 60rem;
    padding: 0 8rem 0rem 8rem;
}