header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 60px;
    padding: 16px 16px 0 32px;
}

.header--logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 8rem;
}

.header--logo-container img {
    height: 100%;
    object-fit: cover;
}