header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320rem;
    max-width: 1200rem;
    margin: 0 auto;
    height: 60px;
    padding: 16px 16px 0 32px;
}

.header--logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.header--logo-container img {
    height: 100%;
    object-fit: cover;
}