.stack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    max-width: 800rem;
}

.stack-container div {
    margin-bottom: 28rem;
}

.stack-icons {
    margin: 0 90rem;
    font-size: 100rem;
    color: var(--c-xs-white);
}

.stack-container div h2 {
    font-size: 28rem;
    color: var(--c-xxl-white)
}

.stack-logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16rem 32rem;
    font-size: 36rem;
    margin: 0 auto;
    width: 100%;
    max-width: 200rem;
    height: 33%;
}

.stack-logos-container img {
    width: 36rem;
    height: 36rem;
}