.experience-card {
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 260rem;
    height: 340rem;
    border-radius: var(--b-primary);
    box-shadow: 0 5px 10px var(--c-s-black);
    padding: 8rem 8rem;
}

.experience-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 28rem;
    gap: 0 10rem;
    width: 100%;
    height: 30%;
}