.experience-card {
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 260px;
    max-width: 600px;
    height: 340px;
    border-radius: var(--border-one);
    background-color: var(--c-black-two);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
}

.experience-time {
    font-weight: 700;
}

.experience-description {
    max-width: 100%;
    overflow-y: scroll;
    text-align: justify;
}

.experience-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    gap: 0 10px;
    width: 100%;
    height: 30%;
}

.experience-description::-webkit-scrollbar {
    display: none;
}