.scroll-nav {
    position: sticky;
    top: 60rem;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12rem;
    font-family: var(--f-secundary);
    background-color: var(--c-black-two);
    box-shadow: var(--shadow-two);
    border-radius: 0 0 var(--border-three) var(--border-three);
    padding: 4rem 8rem;
    cursor: pointer;
}

.scroll-nav .scroll-nav-link:hover {
    transform: translateY(-1rem);
    box-shadow: var(--shadow-two);
}

.scroll-nav .scroll-nav-link::after {
    content: "|";
    margin: 0 10rem 0 10rem;
    color: #9EA3AE;
}

.scroll-nav .scroll-nav-link:last-child::after {
    content: none;
}