.experience-cards-container {
    display: flex;
    align-items: center;
    gap: 48rem;
    width: 80%;
    max-width: 704rem;
    padding: 8rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    transition: 2s;
}

.experience-cards-container::-webkit-scrollbar {
    width: 0rem;
}
.experience-cards-container::-webkit-scrollbar-track {
    background-color: transparent; 
}
.experience-cards-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}