.experience-cards-container {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    height: 80%;
    gap: 20rem 40rem;
    margin-bottom: 32px;
}

@media (min-width:851px) {
    .experience-cards-container {
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-content: center;
        grid-auto-rows: min-content;
    }
}