.section-home-about-me-container {
    display: flex;
    gap: 0;
}

.work-image-container {
    width: 250rem;
    margin-top: 8rem;
}

.text-container h1 {
    margin-bottom: 12rem;
}

.text-container p {
    margin-bottom: 24rem;
}

@media (min-width:851px) {
    .section-home-about-me-container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%;
        place-content: center;
        place-items: center;
        margin: 150rem 0 200rem 0;
    }

    .work-image-container {
        align-self: start;
        grid-column: 2 / 3;
    }

    .text-container {
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        justify-items: start;
        align-content: space-around;
        text-align: start;
        padding-left: 48rem;
        height: 50vh;
    }
    
    .about-me-button-container{
        justify-self: center; 
    }
}

