.stack-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180rem;
    height: 200rem;
    padding: 4rem auto ;
    margin-bottom: 24rem;
    border-style: solid;
    border-radius: 24rem;
    border-width: 2rem;
    border-color: #AF7927;
}

.stack-icon {
    width: 80rem;
    height: 80rem;
    margin: 0 auto;
    font-size: 80rem;
    color: var(--c-gray);
}

.stack-logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem 24rem;
    font-size: 28rem;
    width: 100%;
    max-width: 200rem;
    height: 36%;
}

.stack-logos-container img {
    width: 28rem;
    height: 28rem;
}
