.aboutme-page {
	color: var(--c-xxl-white);
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutme-description,
.aboutme-interests,
.aboutme-goal {
	text-align: justify;
	font-size: 16px;
	line-height: 1.2;
	max-width: 90%;
	margin: 20px auto;
}

.download-cv-button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: var(--c-xxl-white);
	border: none;
	border-radius: var(--border-three);
	cursor: pointer;
	transition: background-color 0.3s;
	margin-bottom: 20px;
}

.download-cv-button:hover {
	background-color: #45a049;
}
