.card-project-container {
    position: relative;
    text-align: center;
    width: 280rem;
    height: 340rem;
}

.card-project-container .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}

.card-project-container .front {
    display: flex;
    justify-content: center;
    border-radius: 24rem;
    box-shadow: 0 5px 10px var(--c-s-black);
    transform: rotateY(0deg);
}

.front .card-project-image-container {
    position: absolute;
    margin-top: 12rem;
    width: 91%;
    height: 50%;
}

.card-project-image-container img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front-detail-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.front h3 {
    position: absolute;
    bottom: 114rem;
    width: 100%;
}

.card-project-description {
    position: absolute;
    bottom: 92rem;
    font-size: 16rem;
    cursor: pointer;
}

.return-icon {
    position: absolute;
    right: 30rem;
    bottom: 88rem;
    color: var(--c-s-white);
    font-size: 20rem;
    cursor: pointer;
}

.card-project-container.is-flipped .front {
    transform: rotateY(180deg);
}

.card-project-container.is-flipped .back {
    transform: rotateY(360deg);
}

.front-tech-container {
    position: absolute;
    bottom: 56rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-style: solid;
    border-radius: 2rem;
    border: 1rem;
    border-color: var(--c-s-black);
    font-size: 16rem;
    color: var(--c-xxl-white);
}

.front-tech-container span {
    border-style: solid;
    border-radius: 4rem;
    border-width: 1rem;
    border-color: var(--c-s-white);
    padding: 2rem 4rem;
    color: var(--c-s-white);
}

.buttons-container {
    position: absolute;
    bottom: 16rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.card-project-container .back {
    display: flex;
    justify-content: center;
    border-radius: 24rem;
    box-shadow: 0 5px 10px var(--c-s-black);
    transform: rotateY(180deg);
}

.back-description {
    position: absolute;
    top: 0;
    max-height: 65%;
    padding: 16rem 8rem;
    overflow: scroll;
    overflow-x: hidden;
}

.description-link-ver-mas {
    position: absolute;
    bottom: 92rem;
    font-size: 16rem;
}

.back h3 {
    position: absolute;
    bottom: 48rem;
}

.back-description::-webkit-scrollbar {
    width: 0px;    
}
    
.back-description::-webkit-scrollbar-track {
    background-color: transparent;  
}
    
.back-description::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

.card-project-container:hover .front {
    transform: rotateY(180deg);
}

.card-project-container:hover .back {
    transform: rotateY(360deg);
}